body {
  color: rgb(4, 36, 15);
  text-align: center;
  background-color: rgb(180, 235, 204);
}
.header_1 {
  border-style: double;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  padding: 30px;
  margin: 40px;
}
.header_2 {
  border-style: double;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 40px;
}
.border {
  border: 4px solid rgb(255, 255, 255);
  margin: 10px;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  text-decoration: underline;
}
.main_1 {
  border-style: double;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  padding: 30px;
  margin: 40px;
}
.main_2 {
  border-style: double;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  padding: 30px;
  margin: 40px;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-left: 180px;
  margin-right: 180px;
}
.left {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  padding: 1px;
  margin: 0 auto;
}
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}
.link {
  background-color: olivedrab;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: rgb(4, 36, 15);
  border: 3px solid rgb(5, 70, 29);
}
.useless {
  border-style: double;
  border-color: white;
  list-style: none;
  padding: 20px;
  margin: 0 auto;
}
.nav {
  display: inline;
  list-style: none;
}



@media (min-width: 1024px) {
  body { 
background-color: orangered;
  }
}

@media (min-width: 320px) {
  body { 
background-color:cornflowerblue;
text-align: center;
color: rgb(44, 13, 77);
}
}